.back{
  background-color: rgb(255, 249, 163);
}
.wit{
  margin-left: -1%;
  margin-right: -1%;
  margin-bottom: 2%;
  margin-top: -1%;
  background-color: rgb(255, 255, 255);
}
.logo{
  width: 150px;
  height: 90px;
}
.top{
  margin-top: -5%;
  margin-left: 78%;
}
.sell{
  text-align:center;
  background-color: rgb(46, 127, 194);
  width: 25%;
  height: 60%;
  float:left;
  margin-left: 7%;
  margin-top: 10%;
}
.linkk{
  float:left;
  text-align:left;
}
.pic{
  margin-top: 5%;
   width: 70px;
   height: 70px;
}
.biglogo{
  text-align: center;
  margin-top: 5%;
  margin-bottom: -5%;
  margin-left: 43%;
}
.find{
  margin-left: 5%;
  margin-right: 5%;
  text-align:center;
  background-color: rgba(202, 69, 69, 0.89);
  width: 25%;
  height: 60%;
  float:left;
  margin-top: 10%;
}
.classmate{
  text-align:center;
  background-color: rgba(255, 208, 55, 0.884);
  width: 25%;
  height: 60%;
  float:left;
  margin-right: 5%;
  margin-top: 10%;
}
.text{
  color: white;
  text-align:center;
}
.te{
  text-align:center;
}
.table{
  text-align: center;
}