<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
  <head>
<link rel="stylesheet" href="stylesheets/home.css" media="screen">
<link rel="stylesheet" href="stylesheets/sellbook.css" media="screen">
    <script> 
    </script>
    
  </head>
  <body class = "back"><header class = "wit"><div>
        <a href="/dashboard"  data-image-width="200" data-image-height="200">
          <img src="image/s2s2.png" class = "logo">
        </a>
        </div>
        <br></br>
            <ul class = "top"><a class = "linkk" ><a href="/dashboard" style="padding: 10px 10px;">Home</a>
            <select onchange="window.location=this.value;">
            <option>Hi!</option>
            <option value="/user_profile">Your account</option>
            <option value="/logout">Logout</option>
            <option value="/manager_dashboard">go to manager view</option> 
            </select>
            </ul>
            
    
            
        </header>
        </body>
        <h5>book information</h5>
        <ul class = "tips" style= "text-align:center;">
          <% if(typeof errors != 'undefined'){ %>
              <% errors.forEach(error => { %>
                  <li><%= error.message %></li>
              <% }) %>
          <% } %>
      </ul>
        <div class ="tables"> 
          <form class="table" action="/addbook" method="post" enctype="multipart/form-data" id="bookform">
            <label for="BookTitle">Book Title</label>
            <input type="text" name = "Bookname" value="" placeholder="BookTitle">
            <br>
            <label for="Author">Author</label>
            <input type="text" name = "Author" value="" placeholder="Author">
            <br>
            <label for="Pagecount">Page Count</label>
            <input type="number" name = "Pages" value="" placeholder="Pagecount">   
            <br>
            <label for="publishdate">Publish Date</label>
            <input type="date" name = "date" value="" placeholder="mm/dd/yyyy">
            <br>
            <label for="Language">Language</label>
            <input type="text" name = "Language" value="" placeholder="Language">
            <br>
            <label for="Course">Course</label>
            <input type="text" name = "Course" value="" placeholder="For which Course">
            <br>
            <label for="price">Price</label>
            <input type="text" name = "price" placeholder="price">
            <br>
            <label for="bookCover">book Cover</label>
            <input type="file" name = "bookCover">
            <br>
            <div class = "desc">
          <label for="description">description</label>
          <textarea name="description" form="bookform">book description </textarea>
          <br>
        </div>
            <input type="submit" name = "sub" value="sellbook">
        </form>
        <br>

    </div>
</html>
