<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
    <body>
        <h1>homepage</h1>
        <a href="/login">login</a>
    </body>
<!-- home page -->
</html>
