<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/home.css" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
    <header class = "wit">
    
      <div>
        <a href="/#"  data-image-width="200" data-image-height="200">
          <img src="image/s2s2.png" class = "logo">
        </a>
          </div>
          <br></br>
            <ul class = "top"><a class = "linkk" ><a href="/#" style="padding: 10px 10px;">Home</a>
            <select onchange="window.location=this.value;">
            <option value="/#">Account</option>
            <option value="/login">Login</option>
            <option value="/register">register</option> 
            </select>
            </a></ul>
      </header>
      <body class = "back">
    <section >
      <div>
        <img  src="image/s2s-11.png"  alt="" class="biglogo">
        <div class >
            <div>
              <div class="sell2">
                <div ><span><img src="image/3771417.png" alt=""class= "pic"></span>
                <br>
                  <a href="/addbooks"  class = "text">Sell your book</a>
                  <p class = "text"> Sell your unused used books</p>
                </div>
              </div>
              <div class = "find"> 
              <div ><span><img src="image/5434686.png" alt="" class= "pic"></span>
                <br>
                  <a href="/findbook" class = "text">Find your book
                  </a>
                  <p class = "text" > find the book you need</p>
                </div>
                </div>
              <div >
                <div class = "classmate2" ><span ><img src="image/3214781.png" alt="" class= "pic"></span>
                <br>
                  <a href="/findclassmate" class = "text">Find classmate</a>
                  <p class = "text"> communicate with classmate</p>
                </div>
              </div>
              <br></br>
            </div>
          </div>
      </div>
    </section>
  </body>
</html>