<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
  <head>
    <title>Home</title>
    
<link rel="stylesheet" href="stylesheets/Home.css" media="screen">
    <script>{
		"logo": "images/s2s2.png"
}</script>

  </head>
  <body ><header><div>
        <a href="/#"  data-image-width="200" data-image-height="200">
          <img src="image/s2s2.png" class = "logo">
        </a>
          </div>
            <ul class = "top"><a class = "linkk" ><a href="/#" style="padding: 10px 10px;">Home</a>
            </a><a class = "linkk"><a  href="/about" style="padding: 10px 10px;">About</a>
            </a><a class = "linkk"><a  href="/Login" style="padding: 10px 10px;">Login</a>
            </a></ul>
              </div>
            </div>
            <div></div>
          </div>
        </nav>
      </div></header>
    <section>
      <div>
        <img  src="image/s2s-11.png"  alt="" class="biglogo">
        <div class >
            <div>
              <div class="sell">
                <div ><span><img src="image/3771417.png" alt=""class= "pic"></span>
                  <h5 class = "text">Sell your book</h5>
                  <p class = "text"> Sell your unused used books</p>
                </div>
              </div>
              <div class = "find"> 
              <div ><span><img src="image/5434686.png" alt="" class= "pic"></span>
                  <h5 class = "text">Find your book
                  </h5>
                  <p class = "text" > find the book you need</p>
                </div>
                </div>
              <div >
                <div class = "classmate" ><span ><img src="image/3214781.png" alt="" class= "pic"></span>
                  <h5 class = "text">Find classmate</h5>
                  <p class = "text"> communicate with classmate</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>