<!DOCTYPE html>
<html>
<h1>
    login
</h1>
<body>
    <form class = "" action="/login" method = "post">
        <label for="Useraccount">Useraccount</label>
        <input type="text" name = "Useraccount" value="" placeholder="Useraccount">
        <br>
        <label for="password">password</label>
        <input type="password" name = "password" value="" placeholder="password">
        <br>
        <input type="submit" name = "sub" value="submit">
    </form>
    <a href="/register">register</a>
</body>
</html>
