<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
<h1>
    login
</h1>
<body>
    <form class = "" action="/login" method = "post">
        <label for="Useraccount">Useraccount</label>
        <input type="text" name = "Useraccount" value="" placeholder="Useraccount">
        <br>
        <label for="password">password</label>
        <input type="password" name = "password" value="" placeholder="password">
        <br>
        <input type="submit" name = "sub" value="submit">
    </form>
    <a href="/register">register</a>
</body>
</html>
