<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/home.css" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
    <body class = "back">
    <header class = "wit"><div>
        <a href="/#"  data-image-width="200" data-image-height="200">
          <img src="image/s2s2.png" class = "logo">
        </a>
          </div>
            <ul class = "top"><a class = "linkk" ><a href="/#" style="padding: 10px 10px;">Home</a>
            </a><a class = "linkk"><a  href="/about" style="padding: 10px 10px;">About</a>
            </a><a class = "linkk"><a  href="/register" style="padding: 10px 10px;">Register</a>
            </a></ul>
      </header>
<h1 class ="te" >
    login
</h1>
<<<<<<< HEAD
<body>
    <form class = "table" action="/logindata" method = "post">
=======

    <form class = "table" action="/login" method = "post">
>>>>>>> d905893e280dc05346f83c92e324c54a8523353d
        <label for="Useraccount">Useraccount</label>
        <input type="text" name = "Useraccount" value="" placeholder="Useraccount">
        <br>
        <label for="password">password</label>
        <input type="password" name = "password" value="" placeholder="password">
        <br>
        <input type="submit" name = "sub" value="submit">
    </form>
    <div class = "te"><a href="/register">register</a></div> 
</body>
</html>
