<!DOCTYPE html>
<html >
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
  <head>
    <title>Home</title>
    
<link rel="stylesheet" href="stylesheets/home.css" media="screen">
    <script> 
    </script>

  </head>
  <header class = "wit"><div>
        <a href="/#"  data-image-width="200" data-image-height="200">
          <img src="image/s2s2.png" class = "logo">
        </a>
          </div>
          <br></br>
            <ul class = "top"><a href="/#" style="padding: 10px 10px;">Home</a>
            <select onchange="window.location=this.value;">
            <option>Hi!<%= name %></option>
            <option value="/dashboard">User</option>
            <option value="/#">Logout</option> 
            </select>
            </ul>
      </header>
    <section>
    <body class = "back" >
      <div>
        <img  src="image/s2s3.png"  alt="" class="biglogo">
        <div class >
            <div>
              <div class="sell">
                <div ><span><img src="image/mbook.png" alt=""class= "pic"></span>
                  <h5 class = "text">Manage used books</h5>
                  <p class = "text"> ​Manage used books that are on the shelf</p>
                </div>
              </div>
              <div class = "find"> 
              <div ><span><img src="image/outdr.png" alt="" class= "pic"></span>
                  <h5 class = "text">​ ​User Interface
                  </h5>
                  <p class = "text" > ​Transition to user interface</p>
                </div>
                </div>
              <div >
                <div class = "classmate" ><span ><img src="image/muser.png" alt="" class= "pic"></span>
                <br>
                  <a href="/manage_user"  class = "text">Manage user</a>
                  <p class = "text"> ​Manage users' personal information</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div > </div>
    </section>
  </body>
