<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/home.css" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
    <header><div>
        <a href="/#"  data-image-width="200" data-image-height="200">
          <img src="image/s2s2.png" class = "logo">
        </a>
          </div>
            <ul class = "top"><a class = "linkk" ><a href="/#" style="padding: 10px 10px;">Home</a>
            </a><a class = "linkk"><a  href="/about" style="padding: 10px 10px;">About</a>
            </a><a class = "linkk"><a  href="/Login" style="padding: 10px 10px;">Login</a>
            </a></ul>
              </div>
            </div>
            <div></div>
          </div>
        </nav>
      </div></header>
<h1 class="te">
    register
</h1>
<body>
    <form class = "table" action="/register" method = "post">
        <label for="name">name</label>
        <input type="text" name = "name" value="" placeholder="Username">
        <br>
        <label for="Useraccount">Useraccount</label>
        <input type="text" name = "Useraccount" value="" placeholder="Useraccount">
        <br>
        <label for="password">password</label>
        <input type="password" name = "password" value="" placeholder="password">
        <br>
        <label for="ConfirmPassword">ConfirmPassword</label>
        <input type="password" name = "Confirmpassword" value="" placeholder="Confirm password">
        <br>
        <input type="submit" name = "sub" value="register">
    </form>
    <div class = "te"><a href="/login">login</a></div>
</body>
</html>
