<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
  <head>
<link rel="stylesheet" href="stylesheets/home.css" media="screen">
    <script> 
    </script>

  </head>
  <body class = "back"><header class= "wit"><div>
  
        <a href="/#"  data-image-width="200" data-image-height="200">
          <img src="image/s2s2.png" class = "logo">
        </a>
        </div>
        <br></br>
            <ul class = "top"><a class = "linkk" ><a href="/dashboard" style="padding: 10px 10px;">Home</a>
            <select onchange="window.location=this.value;">
            <option>Hi!</option>
            <option value="/user_profile">Your account</option>
            <option value="/#">Logout</option> 
            </select>
            </ul>
        </header>
 
      <body>
        <h5>  user_profile  name... age ///</h5>
</body>
 
<div class="footer">
</div>

</html>